In [1]:
import pandas as pd
import numpy as np
data = {
'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
'Age': [25, 30, 35, 40, 45],
'Salary': [50000, 60000, 70000, 80000, 90000],
'Department': ['HR', 'IT', 'Finance', 'HR', 'IT'],
'Start_Date': pd.to_datetime(['2020-01-01', '2019-03-15', '2021-05-20', '2018-09-10', '2022-02-28']),
'Experience': [5, 10, 3, 15, 2],
'Rating': [4.2, 3.8, 4.5, 4.0, 4.7]
}
df=pd.DataFrame(data)
print(df)

      Name  Age  Salary Department Start_Date  Experience  Rating
0    Alice   25   50000         HR 2020-01-01           5     4.2
1      Bob   30   60000         IT 2019-03-15          10     3.8
2  Charlie   35   70000    Finance 2021-05-20           3     4.5
3    David   40   80000         HR 2018-09-10          15     4.0
4      Eve   45   90000         IT 2022-02-28           2     4.7

Question 1: Selecting a Subset of the DataFrame
Let's select employees who are older than 30:

In [7]:
df1 = df[df['Age'] > 30]
print(df1)

      Name  Age  Salary Department Start_Date  Experience  Rating
2  Charlie   35   70000    Finance 2021-05-20           3     4.5
3    David   40   80000         HR 2018-09-10          15     4.0
4      Eve   45   90000         IT 2022-02-28           2     4.7

Question 2: Creating New Columns Derived from Existing Columns
Let's create a new column called "Age_Group" based on the age of the employees:

In [2]:
def age_group(age):
    if age < 30:
        return 'Young'
    elif 30 <= age < 45:
        return 'Midd'
    else:
        return 'old'

In [3]:
df['Age_Group'] = df['Age'].apply(age_group)

print(df)

      Name  Age  Salary Department Start_Date  Experience  Rating Age_Group
0    Alice   25   50000         HR 2020-01-01           5     4.2     Young
1      Bob   30   60000         IT 2019-03-15          10     3.8      Midd
2  Charlie   35   70000    Finance 2021-05-20           3     4.5      Midd
3    David   40   80000         HR 2018-09-10          15     4.0      Midd
4      Eve   45   90000         IT 2022-02-28           2     4.7       old

Question 3: Calculating Summary Statistics
Let's calculate summary statistics for the numerical columns in the DataFrame:

In [4]:
summary_stats=df[["Salary","Experience"]].describe()
print(summary_stats)

             Salary  Experience
count      5.000000     5.00000
mean   70000.000000     7.00000
std    15811.388301     5.43139
min    50000.000000     2.00000
25%    60000.000000     3.00000
50%    70000.000000     5.00000
75%    80000.000000    10.00000
max    90000.000000    15.00000

Question 4: Reshaping the Layout of Tables
Let's reshape the DataFrame to have "Name" as the index and "Department" as columns, with
"Salary" as values:

In [5]:

reshaped_data= df.pivot(index='Name', columns='Department', values='Salary')

print(reshaped_data)

Department  Finance       HR       IT
Name
Alice           NaN  50000.0      NaN
Bob             NaN      NaN  60000.0
Charlie     70000.0      NaN      NaN
David           NaN  80000.0      NaN
Eve             NaN      NaN  90000.0

Question 5: Combining Data from Multiple Tables
Let's create another DataFrame with bonus information and merge it with the original 
DataFrame:

In [6]:
bonus_data = {
    'Bonus': [200,400,600,800,1000]
}

In [7]:
df_additional=pd.DataFrame(bonus_data)
concatenated_data=pd.concat([df,df_additional],ignore_index=True)
print(concatenated_data)

      Name   Age   Salary Department Start_Date  Experience  Rating Age_Group  \
0    Alice  25.0  50000.0         HR 2020-01-01         5.0     4.2     Young
1      Bob  30.0  60000.0         IT 2019-03-15        10.0     3.8      Midd
2  Charlie  35.0  70000.0    Finance 2021-05-20         3.0     4.5      Midd
3    David  40.0  80000.0         HR 2018-09-10        15.0     4.0      Midd
4      Eve  45.0  90000.0         IT 2022-02-28         2.0     4.7       old
5      NaN   NaN      NaN        NaN        NaT         NaN     NaN       NaN
6      NaN   NaN      NaN        NaN        NaT         NaN     NaN       NaN
7      NaN   NaN      NaN        NaN        NaT         NaN     NaN       NaN
8      NaN   NaN      NaN        NaN        NaT         NaN     NaN       NaN
9      NaN   NaN      NaN        NaN        NaT         NaN     NaN       NaN

    Bonus
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5   200.0
6   400.0
7   600.0
8   800.0
9  1000.0

Question 7: Filtering Data Based on Multiple Conditions
Let's filter the DataFrame to include only employees from the IT department who are older 
than 30:

In [8]:
subset=df[(df["Department"]=="IT") & (df["Age"]>30)]
subset

  Name  Age  Salary Department Start_Date  Experience  Rating Age_Group
4  Eve   45   90000         IT 2022-02-28           2     4.7       old

Question 8: Creating a New Column Based on Conditions
Let's create a new column called "Performance" based on the employee's rating:

In [9]:
def checked_performance(rating):
    if rating>4.8:
        return "Very Good"
    if rating>4.5:
        return "Good"
    if rating>4.0:
        return "Avg."
    else:
        return "Poor"

In [10]:
df['Performance']=df['Rating'].apply(checked_performance)
print(df)

      Name  Age  Salary Department Start_Date  Experience  Rating Age_Group  \
0    Alice   25   50000         HR 2020-01-01           5     4.2     Young
1      Bob   30   60000         IT 2019-03-15          10     3.8      Midd
2  Charlie   35   70000    Finance 2021-05-20           3     4.5      Midd
3    David   40   80000         HR 2018-09-10          15     4.0      Midd
4      Eve   45   90000         IT 2022-02-28           2     4.7       old

  Performance
0        Avg.
1        Poor
2        Avg.
3        Poor
4        Good

Question 9: Calculating Group-Wise Summary Statistics
Let's calculate the mean salary and experience for each department:

In [11]:
kri=df.groupby("Department").agg({"Salary":"mean",
"Experience":"mean"})
kri

             Salary  Experience
Department
Finance     70000.0         3.0
HR          65000.0        10.0
IT          75000.0         6.0

Question 10: Sorting Data
Let's sort the DataFrame by age in descending order:

In [12]:
sorted_data=df.sort_values(by="Age",ascending=False)
print(sorted_data)

      Name  Age  Salary Department Start_Date  Experience  Rating Age_Group  \
4      Eve   45   90000         IT 2022-02-28           2     4.7       old
3    David   40   80000         HR 2018-09-10          15     4.0      Midd
2  Charlie   35   70000    Finance 2021-05-20           3     4.5      Midd
1      Bob   30   60000         IT 2019-03-15          10     3.8      Midd
0    Alice   25   50000         HR 2020-01-01           5     4.2     Young

  Performance
4        Good
3        Poor
2        Avg.
1        Poor
0        Avg.

Question 11: Concatenating DataFrames
Let's create a new DataFrame with additional employee information and concatenate it with 
the original DataFrame:

In [13]:
additional_data = {
'Name': ['Krishan','Rohit'],
'Age': [22,23],
'Salary': [10000,11000],
'Department': ['HR', 'IT'],
'Start_Date': pd.to_datetime(['2020-02-01', '2019-02-15']),
'Experience': [4,7],
'Rating': [4.4,3.9],
'Performance':['nan','nan']
}

In [14]:
df_additional=pd.DataFrame(additional_data)
concatenated_data=pd.concat([df,df_additional],ignore_index=True)
print(concatenated_data)

      Name  Age  Salary Department Start_Date  Experience  Rating Age_Group  \
0    Alice   25   50000         HR 2020-01-01           5     4.2     Young
1      Bob   30   60000         IT 2019-03-15          10     3.8      Midd
2  Charlie   35   70000    Finance 2021-05-20           3     4.5      Midd
3    David   40   80000         HR 2018-09-10          15     4.0      Midd
4      Eve   45   90000         IT 2022-02-28           2     4.7       old
5  Krishan   22   10000         HR 2020-02-01           4     4.4       NaN
6    Rohit   23   11000         IT 2019-02-15           7     3.9       NaN

  Performance
0        Avg.
1        Poor
2        Avg.
3        Poor
4        Good
5         nan
6         nan